<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genesis</title>
    <style>
        .box {
            height: 240px;
            width: 240px;
            margin-top: 20px;
            background-color: steelblue;
        }
    </style>
</head>

<body>
    <h1>Welcome to my first Vue.js Website</h1>
    <div class="divs" id="first">
        <h2>My name is : {{ GetName() }}</h2>
        <h3> {{GetName()}} </h3>
    </div>

    <div class="divs" id="second">
        <h3 :title="GetAddress()">Address: {{address}} </h3>
        <h3 :title="phone">Phone: {{phone}} </h3>
        <h3 :title="university">University: {{university}} </h3>
        <h3>Updated Phone Number: {{ UpdatePhone("017907481689555")}} </h3>
        <a v-bind:href="twitter">Twitter Profile</a>
        <a v-bind:href="facebook">Facebook Profile</a>

    </div>
    <h2>Event Binding</h2>
    <div class="box" id="box" @mouseover.shift="MouseOver">
        <div>
            <h3>Mouse Event with Modifier Shift</h3>
            {{ position.x }} {{ position.y }}
        </div>
    </div>

    <div class="form" id="form">
        <hr>
        <h3>Keyboard Events</h3>
        <h4>Name from Name field:</h4>{{information.name}}
        <form action="">
            <h2>Name</h2>
            <input type="text" @keyup="Write">
        </form>
    </div>
    <hr>
    <h2>Model Binding</h2>
    <div class="form1" id="formModel">
        <hr>
        <h3>Model Binding</h3>
        <h4>Name from Name field:</h4>{{information.name}}
        <form action="">
            <h2>Name</h2>
            <input type="text" v-model="information.name">
        </form>
    </div>
    <hr>

    <h2>Vue Conditions and Loops</h2>
    <div class="show" id="show">
        <hr>
        <button @click="NameIncrease">Name</button>
        <button @click="Age">Age</button>
        <h4 v-if="information.name == 4"> Name: {{information.name}}</h4>
        <h4 v-else-if="information.age">Age: {{ information.age }} </h4>
    </div>

    <hr>

    <script src="vue.js"></script>
    <script src="genesis.js"></script>
</body>


</html>